 body {
  width: 80%;
  margin: auto;
  font-family: sans-serif;
  background-color: beige;
}

.headshot {
 height: 80%;
 width: 80%;
 margin: auto;
 padding: 10px;
 display: block;
}

h1 {
 text-align: center;
 color: red;
}

p {
 text-align: center;
 font-size: 120%;
 color: blue !important;
}
 
